### Notebook para criar algumas análises dos dados de um hipotético E-commerce

- Dataset extraído de: [data.word](https://data.world/jerrys/sql-12-applying-functions-in-sql)

In [1]:
pip install psycopg2-binary pandas matplotlib seaborn sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (2.9.5)
Requirement already satisfied: pandas in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (1.5.1)
Requirement already satisfied: matplotlib in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (3.6.2)
Requirement already satisfied: seaborn in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (0.12.2)
Requirement already satisfied: sqlalchemy in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (1.4.46)
Requirement already satisfied: numpy>=1.21.0 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.0.6)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\nathalya lucena\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [5]:
# string de conexão com o banco de dados ecommerce
engine = create_engine('postgresql://postgres:chja1415@localhost:5432/ecommerce')

In [6]:
# select amostra da tabela produtos
produtos = pd.read_sql("SELECT * FROM produtos LIMIT 10;", engine); produtos.head()

     Codigo                                       Produto    Preco
0  BS001873                         Apple Lightning Cable   $21.99
1  BS001874                     SanDisk Extreme microSDXC   $31.50
2  BS001875            Seagate 2TB Expansion Portable HDD   $79.00
3  BS001876  TicWatch Pro 3 Ultra GPS Smartwatch Qualcomm  $399.00
4  BS001877                    Webcam HD 1080p Web Camera   $59.00

In [ ]:
# select amostra da tabela vendas
vendas = pd.read_sql("SELECT * FROM vendas LIMIT 10;", engine); vendas.head()

,Order ID,Date,ship-service-level,Style,Codigo,Courier Status,Qty,ship-country,Fulfillment
0,171-8536041-9190708,6/29/2022,Expedited,SET400,BS001879,Cancelled,4,AU,Yes
1,407-4176879-6571509,6/29/2022,Expedited,JNE3486,BS001890,Cancelled,2,BR,Yes
2,404-4382011-4681149,6/29/2022,Expedited,JNE3887,BS001873,Cancelled,2,BR,Yes
3,406-3412504-2471555,6/29/2022,Expedited,JNE3487,BS001888,Cancelled,2,BR,Yes
4,408-2481787-8248368,6/29/2022,Expedited,JNE3566,BS001898,Cancelled,2,BR,Yes