
Qual a faixa de preço dos produtos com status de entrega cancelado? Há relação com valores(preço) mais altos ?

O preço dos produtos influenciam no volume de vendas? Mais baratos > volume?

Quais produtos são mais vendidos de acordo com a faixa de preço? 0-100 100-200 200+

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://postgres:chja1415@localhost:5432/ecommerce')

In [4]:
produtos_cancelados = pd.read_sql("SELECT * FROM produtos_cancelados_2 LIMIT 10;", engine); 

produtos_cancelados.head()

      Cod_p     Cod_v Courier Status    Preco  Qty  Preco_2
0  BS001888  BS001888      Cancelled  $449.00    1    449.0
1  BS001888  BS001888      Cancelled  $449.00    2    449.0
2  BS001888  BS001888      Cancelled  $449.00    3    449.0
3  BS001888  BS001888      Cancelled  $449.00    3    449.0
4  BS001888  BS001888      Cancelled  $449.00    2    449.0

In [5]:
faixas_cancelados = pd.read_sql("SELECT * FROM faixas_cancelados LIMIT 10;", engine); 

faixas_cancelados

   numero_de_cancelamentos faixa_de_preco
0                   9141.0        0 - 100
1                   4035.0      201 - 300
2                   3379.0      301 - 400
3                   1201.0      101 - 200
4                    602.0           400+

In [7]:
vendas = pd.read_sql("SELECT * FROM inventando_moda LIMIT 10;", engine); 

vendas.head()

      Cod_p     Cod_v Courier Status    Preco  Qty  Preco_2
0  BS001879  BS001879      Cancelled  $299.00    4   299.00
1  BS001890  BS001890      Cancelled  $329.95    2   329.95
2  BS001873  BS001873      Cancelled   $21.99    2    21.99
3  BS001888  BS001888      Cancelled  $449.00    2   449.00
4  BS001898  BS001898      Cancelled  $257.00    2   257.00

In [8]:
faixas_vendas = pd.read_sql("SELECT * FROM faixas_vendas LIMIT 10;", engine); 

faixas_vendas

   numero_de_vendas faixa_de_preco
0          195897.0        0 - 100
1           83565.0      201 - 300
2           70325.0      301 - 400
3           24656.0      101 - 200
4           12425.0           400+

In [11]:
cancelamentos_proporcional = pd.read_sql("SELECT * FROM proporcao_de_cancelamentos LIMIT 10;", engine); 

cancelamentos_proporcional

,faixa_cancelamentos,faixa_vendas,numero_de_cancelamentos,numero_de_vendas,percentual_de_cancelamentos
0,0 - 100,0 - 100,9141.0,195897.0,4.666228
1,201 - 300,201 - 300,4035.0,83565.0,4.828577
2,301 - 400,301 - 400,3379.0,70325.0,4.804835
3,101 - 200,101 - 200,1201.0,24656.0,4.871025
4,400+,400+,602.0,12425.0,4.845070

In [13]:
max_vendas_preco = pd.read_sql("SELECT * FROM max_vendas_preco LIMIT 10;", engine); 

max_vendas_preco.head()

,Codigo_Produto,Produto,preco,Codigo_Venda,Courier Status,Qty,Date
0,BS001884,Digital Blood Pressure Monitor with Large Colo...,49.95,BS001884,Shipped,5,6/29/2022
1,BS001887,LEGO Ideas 21319 Central Perk Building Kit,69.00,BS001887,Shipped,4,6/29/2022
2,BS001886,Withings BPM Connect Wireless Blood Pressure M...,179.00,BS001886,Shipped,3,6/29/2022
3,BS001878,Logitech MK270R Wireless Keyboard and Mouse Combo,38.00,BS001878,Shipped,2,6/29/2022
4,BS001889,Taco Cat Goat Cheese Pizza Card Game,14.99,BS001889,Shipped,3,6/29/2022

In [14]:
max_produtos_vendas = pd.read_sql("SELECT * FROM max_produtos_vendas LIMIT 10;", engine); 

max_produtos_vendas

   total_vendas                                            Produto   preco
0       13775.0               Taco Cat Goat Cheese Pizza Card Game   14.99
1       13747.0                       Nintendo Switch Console Lite  329.95
2       13726.0  Logitech MK270R Wireless Keyboard and Mouse Combo   38.00
3       13641.0        TP-Link Tapo Pan/Tilt Smart Security Camera   66.43
4       13640.0  Sony WH1000XM4 Noise Canceling Wireless Headph...  385.00
5       13627.0                 LG 29WL50S - 29 inch UltraWide UHD  279.00
6       13625.0    PHILIPS Sonicare 9900 Prestige Power Toothbrush  329.00
7       13607.0  HyperX QuadCast S – RGB USB Condenser Micropho...  213.00
8       13555.0  YABER WiFi Projector Mini Portable Projector 6...  218.00
9       13506.0                            Kindle Paperwhite (8GB)  239.00